@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b262c;
  --primary-color: #0f4c75;
  --primary-color-light: #3282b8;
  --primary-color-lighter: #bbe1fa;
}

html,
body {
  scroll-behavior: smooth !important;
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1b262c;
  color: white;
}

.section-title {
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: var(--primary-color-lighter);
  position: relative;
  @apply text-3xl font-semibold;
}

.section-title::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 6rem;
  background-color: var(--primary-color-light);
  bottom: -8px;
  left: 0;
}


/* Home Section */
.home li {
  transition: all 0.3s ease-in-out;
}

.home li a:hover {
  text-decoration: underline;
}

.home li:hover {
  transform: translateX(16px);
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}


/* Resume Section */
.resume-item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  left: -5px;
  top: 36px;
  background: var(--primary-color-lighter);
  border: 2px solid var(--primary-color-lighter);
}

input,
textarea {
  background-color: var(--background);
  border: 1px solid rgb(184, 184, 184);
  height: 35px;
  @apply rounded-xl px-3;
}